<div [formGroup]="form"
     class="container">

  <div>
    <mat-form-field>

    <input matInput type="text" formControlName="input">
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox formControlName="checkbox">Majeur</mat-checkbox>
  </div>

  <div>
    <mat-radio-group formControlName="radio">
      <mat-radio-button value="Femme">Femme</mat-radio-button>
      <mat-radio-button value="Homme">Homme</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <mat-slide-toggle formControlName="toogle">Majeur</mat-slide-toggle>


  </div>


  <pre>{{ form.value | json }}</pre>

</div>
