<div
  class="container d-flex flex-column flex-justify-content-center flex-align-items-center" style="padding-top: 200px">
<!--   <p>{{ nom | uppercase }}</p> -->
<!--   <p>{{ date1 | date:'long' }}</p> -->
<!--   <p>{{ date1 | date:'medium' }}</p> -->
<!--   <p>{{ date1 | date:'short' }}</p> -->
<!--   <p>{{ date1 | date:'dd MMMM yyyy' }}</p> -->
<!--   <p>{{ date2 | date }}</p> -->
<!--   <p>{{ '1111 2222 3333 4444' | cb:2 }}</p> -->
  <button (click)="names.push('Theo')">Ajouter Theo</button>
  <input type="text" [(ngModel)]="search">
  <ul>
    <li *ngFor="let name of names | filter:search">{{ name }}</li>
  </ul>
</div>
